<ion-header>
    <ion-toolbar>
        <ion-title>register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <label for="exampleInputUsername">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername"
               [(ngModel)]="signUpRequest.username" name="signUpRequest.username">
    </div>
    <div>
        <label for="exampleInputPassword">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword"
               [(ngModel)]="signUpRequest.password" name="signUpRequest.password">
    </div>
    <div>
        <label for="exampleInputEmail">Email</label>
        <input type="text" class="form-control" id="exampleInputEmail"
               [(ngModel)]="signUpRequest.email" name="signUpRequest.email">
    </div>
    <div>
        <label for="exampleInputFullName">FullName</label>
        <input type="text" class="form-control" id="exampleInputFullName"
               [(ngModel)]="signUpRequest.name" name="signUpRequest.name">
    </div>
    <div>
        <button [disabled]="false" type="submit" class="btn btn-primary" (click)="register()">Regisztrálás</button>
    </div>

</ion-content>
