<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Back" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-item>
            <ion-input required type="text" placeholder="Type in your username" [(ngModel)]="signUpRequest.username"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-item>
            <ion-input required type="password" placeholder="Type in your password" [(ngModel)]="signUpRequest.password"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-item>
            <ion-input required type="email" placeholder="Type in your email" [(ngModel)]="signUpRequest.email"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-item>
            <ion-input required type="text" placeholder="Type in your full name" [(ngModel)]="signUpRequest.name"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-button expand="full" disabled="false" type="submit" color="primary" (click)="register()">Register</ion-button>
    </div>

</ion-content>