<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Back" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-label color="dark">(3-15 character)</ion-label>
        <ion-item>
            <ion-input required type="text" placeholder="Username" [(ngModel)]="signUpRequest.username"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-label color="dark">(6-20 character)</ion-label>
        <ion-item>
            <ion-input required type="password" placeholder="Password" [(ngModel)]="signUpRequest.password"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-label color="dark">(Valid email address)</ion-label>
        <ion-item>
            <ion-input required type="email" placeholder="Email" [(ngModel)]="signUpRequest.email"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-label color="dark">(4-40 character)</ion-label>
        <ion-item>
            <ion-input required type="text" placeholder="Full name" [(ngModel)]="signUpRequest.name"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-button expand="full" disabled="false" type="submit" color="primary" (click)="register()">Register</ion-button>
    </div>

</ion-content>