<ion-header>
    <ion-toolbar>
        <ion-title>Logged in user: {{nameOfUser}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="openLogoutPopover($event)">
                <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-label color="dark">Your kitchens:</ion-label>
        <ion-list *ngFor="let kitchen of kitchens;">
            <ion-item href="/kitchen-detail/{{kitchen.id}}" routerDirection="forward">
                {{kitchen.name}}
            </ion-item>
        </ion-list>
    </div>
    <div>
        <ion-item>
            <ion-input required type="text" placeholder="Enter the name of the new kitchen" [(ngModel)]="newKitchen.name"></ion-input>
        </ion-item>
    </div>
    <ion-button disabled="false" type="submit" color="primary" (click)="createKitchen()">Create Kitchen</ion-button>

</ion-content>