<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>wish-list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>Ingredients:</div>
    <ul>
        <li *ngFor="let ingredient of ingredients;">
            name: {{ingredient.name}} weight: {{ingredient.weightOrCount}}
        </li>
    </ul>
    <div>
        <label for="IngredientName">Name</label>
        <input type="text" class="form-control" id="IngredientName" [(ngModel)]="ingredientToAdd.name">
    </div>
    <div>
        <label for="IngredientWeight">WeightOrCount</label>
        <input type="text" class="form-control" id="IngredientWeight" [(ngModel)]="ingredientToAdd.weightOrCount">
    </div>
    <div>
        <button [disabled]="false" type="submit" class="btn btn-primary" (click)="addIngredient()">
            Add Ingredient
        </button>
    </div>

</ion-content>