<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" text="Back"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="openLogoutPopover($event)">
                <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Wish list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label color="dark">Wished ingredients:</ion-label>
    <ion-list *ngFor="let ingredient of ingredients;">
        <ion-item>
            {{ingredient.name}}: {{ingredient.weightOrCount}} {{ingredient.type}}
        </ion-item>
    </ion-list>
    <ion-label color="dark">Adding new ingredient</ion-label>
    <div>
        <ion-item>
            <ion-input required type="text" placeholder="Ingredient name" [(ngModel)]="ingredientToAdd.name"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-item>
            <ion-input required type="number" placeholder="Amount" [(ngModel)]="ingredientToAdd.weightOrCount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Measurement:</ion-label>
            <ion-select cancelText="Cancel" okText="Ok" [(ngModel)]="ingredientToAdd.type">
                <ion-select-option *ngFor="let type of types" value="{{type}}">{{type}}</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
    <div>
        <ion-button expand="full" disabled="false" type="submit" color="primary" (click)="addIngredient()">Add
            Ingredient</ion-button>
    </div>
    <div>
        <ion-button expand="full" disabled="false" type="submit" color="primary" (click)="addAllIngredientsToKitchen()">Add
            ingredients to kitchen</ion-button>
    </div>

</ion-content>