<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" text="Back"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="openLogoutPopover($event)">
                <ion-icon slot="icon-only" name="person" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Wish list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label color="dark">Wished ingredients:</ion-label>
    <ion-list *ngFor="let ingredient of ingredients;">
        <ion-item>
            name: {{ingredient.name}} weight: {{ingredient.weightOrCount}}
        </ion-item>
    </ion-list>
    <ion-label color="dark">Adding new ingredient</ion-label>
    <div>
        <ion-item>
            <ion-input required type="text" placeholder="Ingredient name" [(ngModel)]="ingredientToAdd.name"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-item>
            <ion-input required type="number" placeholder="Weight Or Count" [(ngModel)]="ingredientToAdd.weightOrCount"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-button expand="full" disabled="false" type="submit" color="primary" (click)="addIngredient()">Add
            Ingredient</ion-button>
    </div>

</ion-content>