<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>kitchen-detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="kitchenDetails != undefined">
    <div>Kitchen: {{kitchenDetails.name}}</div>
    <div>Ingredients:</div>
    <ul>
        <li *ngFor="let ingredient of kitchenDetails.ingredients;">
            name: {{ingredient.name}} weight: {{ingredient.weightOrCount}}
        </li>
    </ul>
    <div>
        <label for="IngredientName">Name</label>
        <input type="text" class="form-control" id="IngredientName" [(ngModel)]="ingredientToAdd.name">
    </div>
    <div>
        <label for="IngredientWeight">WeightOrCount</label>
        <input type="text" class="form-control" id="IngredientWeight" [(ngModel)]="ingredientToAdd.weightOrCount">
    </div>
    <div>
        <button [disabled]="false" type="submit" class="btn btn-primary" (click)="createIngredientInKitchen()">
            Add Ingredient
        </button>
    </div>
    <ion-item href="/wish-list/{{kitchenDetails.wishListId}}" routerDirection="forward">Wish list
    </ion-item>
    <div>Food recipes:</div>
    <ul>
        <li *ngFor="let food of foodRecipesInKitchen;">
                <ion-item href="/food-detail/{{food.id}}" routerDirection="forward">name: {{food.name}}
                </ion-item>
        </li>
    </ul>
    <div>Foods that u can make:</div>
    <ul>
        <li *ngFor="let makeAbleFood of makeAbleFoods;">
            name: {{makeAbleFood.name}}
        </li>
    </ul>
</ion-content>