<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-item>
            <ion-input required type="text" placeholder="Type in your username or email" [(ngModel)]="loginRequest.usernameOrEmail"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-item>
            <ion-input required type="password" placeholder="Enter your password" [(ngModel)]="loginRequest.password"></ion-input>
        </ion-item>
    </div>
    <div>
        <ion-button expand="full" disabled="false" type="submit" color="primary" (click)="login()">Login</ion-button>
    </div>
    <div>
        <ion-button expand="full" disabled="false" type="submit" color="primary" href="/register" routerDirection="forward">Register</ion-button>
    </div>
</ion-content>